In [1]:
%pip install requests
%pip install dotenv

Requirement already satisfied: requests in e:\educ\parsehh\hhvenv\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in e:\educ\parsehh\hhvenv\lib\site-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in e:\educ\parsehh\hhvenv\lib\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in e:\educ\parsehh\hhvenv\lib\site-packages (from requests) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in e:\educ\parsehh\hhvenv\lib\site-packages (from requests) (2025.4.26)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: dotenv in e:\educ\parsehh\hhvenv\lib\site-packages (0.9.9)
Requirement already satisfied: python-dotenv in e:\educ\parsehh\hhvenv\lib\site-packages (from dotenv) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import requests
import warnings
import json
import pandas as pd
from dotenv import dotenv_values
from tqdm.auto import tqdm
import time

warnings.filterwarnings('ignore')

USER_AGENT = dotenv_values('.env')['USER_AGENT']

vacancies = pd.DataFrame() #датафрейм с результатом поиска
job_title = "Python разработчик" #название профессии

e:\Educ\ParseHH\hhvenv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
def get_hh_vacancies(search_text:str, page:int=0):
    '''Функция запроса данных о вакансии с именем serch_name'''
    url = "https://api.hh.ru/vacancies"
    headers = {"User-Agent":USER_AGENT}
    params = {
        "text": search_text,
        "search_field": "name",
        "per_page": 50,
        "page": page
    }
    try:
        response = requests.get(url, headers=headers, params=params)
        response.raise_for_status()
        return response.json()  # Возвращаем весь JSON-объект
        
    except Exception as e:
        print(f"Ошибка: {e}")
        return None

In [4]:
def flatten_dict(vacancy, parent_key=[]):
    '''Преобразовывает JSON файл в плоский словарь'''
    new_dict = {}
    for key, value in vacancy.items():
        if isinstance(value, list):
            continue
            
        current_key = parent_key + [key]
        
        if isinstance(value, dict):
            nested = flatten_dict(value, parent_key=current_key)
            new_dict.update(nested)
        else:
            new_dict['_'.join(current_key)] = value
    return new_dict

In [5]:
def add_vacancies(resp_from_hh):
    temp_vac = pd.DataFrame()
    #проходим по всем вакансиям из текущего ответа
    for item in resp_from_hh['items']:
        vacancies_items = flatten_dict(item)
        if temp_vac.empty:
            temp_vac = pd.DataFrame(columns=list(vacancies_items.keys()))
            temp_vac.loc[len(temp_vac)] = vacancies_items

        temp_vac.loc[len(temp_vac)] = vacancies_items
    return temp_vac

In [ ]:
def add_vacancies(resp_from_hh):
    records = []
    for item in resp_from_hh['items']:
        records.append(flatten_dict(item))
    return pd.DataFrame.from_records(records)

In [ ]:
#первый запуск чтобы посмотреть сколько у нас есть страниц и считать первую страницу ответа
hh_response = get_hh_vacancies(job_title)
pages = min(hh_response['pages'], 20)#ограничение api.hh
found = hh_response['found']

In [7]:
pages, found

(14, 675)

In [ ]:
tqdm.pandas()
for num_page in range(pages):
    hh_response = get_hh_vacancies(job_title, page=num_page)
    temp_vac = add_vacancies(hh_response)
    vacancies = pd.concat([vacancies, temp_vac], ignore_index=True)
    time.sleep(0.1)

In [9]:
vacancies

,id,premium,name,department,has_test,response_letter_required,area_id,area_name,area_url,salary_from,...,employer_employer_rating_total_rating,employer_employer_rating_reviews_count,salary_range_frequency_id,salary_range_frequency_name,address_metro,branding_type,branding_tariff,department_id,department_name,employer_logo_urls
0,120236562,False,Junior Python-разработчик,None,False,False,1,Москва,https://api.hh.ru/areas/1,70000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,120236562,False,Junior Python-разработчик,None,False,False,1,Москва,https://api.hh.ru/areas/1,70000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,120723284,False,Python-разработчик,None,False,False,4,Новосибирск,https://api.hh.ru/areas/4,40000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,120547195,False,Junior разработчик Python (Django),None,False,False,53,Краснодар,https://api.hh.ru/areas/53,70000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,119970695,False,"Junior python разработчик (Django, Fast API)",None,False,False,1,Москва,https://api.hh.ru/areas/1,40000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,119775921,False,C# разработчик со знанием Python,NaN,False,False,2096,Щербинка (Московская область),https://api.hh.ru/areas/2096,NaN,...,3.8,111.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,119765554,False,Программист Python / C / C++ (промышленное и н...,NaN,False,False,1,Москва,https://api.hh.ru/areas/1,NaN,...,4.5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,119746944,False,Ведущий/старший разработчик Python,NaN,False,False,1,Москва,https://api.hh.ru/areas/1,NaN,...,3.8,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,116814467,False,Python-разработчик,NaN,True,False,1641,Набережные Челны,https://api.hh.ru/areas/1641,NaN,...,4.3,367.0,NaN,NaN,NaN,NaN,NaN,68587-68587-manager,Алабуга. Проектный менеджмент,NaN
26,119609129,False,Senior Python Developer,NaN,False,False,1,Москва,https://api.hh.ru/areas/1,NaN,...,4.1,1106.0,NaN,NaN,NaN,NaN,NaN,mailru-15478-tehdep,"VK, Технический департамент",NaN

In [ ]:
#вот так можно оказывается
hh_response_test = get_hh_vacancies(job_title)
test = pd.json_normalize(hh_response_test['items'])

,id,premium,name,department,has_test,response_letter_required,address,response_url,sort_point_distance,published_at,...,address.metro.line_name,address.metro.station_id,address.metro.line_id,address.metro.lat,address.metro.lng,employer.logo_urls,branding.type,branding.tariff,department.id,department.name
0,120236562,False,Junior Python-разработчик,NaN,False,False,NaN,None,None,2025-05-17T15:10:37+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,120723284,False,Python-разработчик,NaN,False,False,NaN,None,None,2025-05-19T16:49:27+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,120547195,False,Junior разработчик Python (Django),NaN,False,False,NaN,None,None,2025-05-17T16:30:35+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,119970695,False,"Junior python разработчик (Django, Fast API)",NaN,False,False,NaN,None,None,2025-05-19T17:06:06+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,120297920,False,Python разработчик,NaN,False,False,NaN,None,None,2025-05-18T20:33:04+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,120400908,False,Junior Python Backend Developer,NaN,False,False,NaN,None,None,2025-05-18T12:14:31+0300,...,Автозаводская,50.278,50,56.313933,43.994820,NaN,NaN,NaN,NaN,NaN
6,120577562,False,Python developer,NaN,True,False,NaN,None,None,2025-05-18T11:19:53+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,120537190,False,Python-разработчик,NaN,False,False,NaN,None,None,2025-05-17T14:13:51+0300,...,Центральная,49.275,49,55.765346,49.165083,NaN,NaN,NaN,NaN,NaN
8,119787879,False,Junior Python developer,NaN,False,False,NaN,None,None,2025-05-18T18:29:44+0300,...,МЦК,95.532,95,55.690000,37.618889,NaN,NaN,NaN,NaN,NaN
9,120727123,False,Python-разработчик,NaN,False,False,NaN,None,None,2025-05-19T17:53:14+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,119757256,False,Python-разработчик,NaN,False,False,NaN,None,None,2025-05-18T11:00:09+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,MAKEUP,NaN,NaN,NaN
11,120662240,False,Python разработчик / Python Developer,NaN,False,False,NaN,None,None,2025-05-18T14:28:33+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,MAKEUP,NaN,NaN,NaN
12,120711255,False,Python-разработчик,NaN,False,False,NaN,None,None,2025-05-19T14:24:15+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,118572460,False,Python-разработчик,NaN,True,False,NaN,None,None,2025-05-18T18:21:31+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,MAKEUP,NaN,NaN,NaN
14,120599644,False,Python-разработчик,NaN,False,False,NaN,None,None,2025-05-15T16:31:45+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,120383951,False,Trainee Python Developer,NaN,False,False,NaN,None,None,2025-05-18T10:01:42+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,120731175,False,Бэкэнд разработчик Python (Software engineer),NaN,False,False,NaN,None,None,2025-05-20T00:02:39+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,120622251,False,Validation developer (Python),NaN,False,False,NaN,None,None,2025-05-16T10:48:02+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,102422415,False,Python-программист Middle,NaN,True,False,NaN,None,None,2025-05-18T05:30:14+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,120559466,False,Стажер-программист Python,NaN,False,True,NaN,None,None,2025-05-15T04:51:47+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,120720710,False,Python-разработчик со знанием ИИ,NaN,False,False,NaN,None,None,2025-05-19T16:12:08+0300,...,Московско-Петроградская,15.215,15,59.966389,30.311293,NaN,NaN,NaN,NaN,NaN
21,120709002,False,Python-разработчик,NaN,False,False,NaN,None,None,2025-05-19T13:57:14+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,120574693,False,Python-разработчик,NaN,False,True,NaN,None,None,2025-05-17T18:54:41+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,119641856,False,Python разработчик,NaN,False,False,NaN,None,None,2025-05-17T13:38:13+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,120575970,False,Backend-Developer Python (junior),NaN,True,False,NaN,None,None,2025-05-15T11:02:22+0300,...,Кольцевая,5.71,5,55.758631,37.661059,NaN,MAKEUP,NaN,NaN,NaN
25,120720879,False,Python-разработчик,NaN,False,False,NaN,None,None,2025-05-19T16:13:39+0300,...,Арбатско-Покровская,3.17,3,55.772405,37.679040,NaN,NaN,NaN,NaN,NaN
26,120314795,False,Программист Python / Разработчик Python,NaN,False,False,NaN,None,None,2025-05-19T11:22:11+0300,...,Невско-Василеостровская,16.231,16,59.924369,30.384989,NaN,NaN,NaN,NaN,NaN
27,118642955,False,Python-разработчик,NaN,False,False,NaN,None,None,2025-05-17T11:44:48+0300,...,Автозаводская,50.278,50,56.313933,43.994820,NaN,NaN,NaN,NaN,NaN
28,120610380,False,Python-разработчик (Robocorp),NaN,False,False,NaN,None,None,2025-05-16T07:00:36+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,120685377,False,Python Developer,NaN,False,False,NaN,None,None,2025-05-19T09:57:51+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,120598975,False,Junior+ Python/Go разработчик,NaN,False,False,NaN,None,None,2025-05-15T16:20:29+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,117694116,False,Backend разработчик (Python DRF),NaN,True,False,NaN,None,None,2025-05-17T15:58:37+0300,...,Калужско-Рижская,6.41,6,55.656682,37.540075,NaN,NaN,NaN,NaN,NaN
32,117565527,False,Python backend developer (FastAPI),NaN,False,False,NaN,None,None,2025-05-19T13:21:48+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,120700222,False,ML/CV backend разработчик (python),NaN,True,False,NaN,None,None,2025-05-19T12:22:52+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,120688750,False,Разработчик Python Проектная работа на 3 месяц...,NaN,False,False,NaN,None,None,2025-05-19T10:31:13+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,MAKEUP,NaN,NaN,NaN
35,80736556,False,Разработчик Python,NaN,False,False,NaN,None,None,2025-05-15T12:09:16+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,120687910,False,Программист Python (производственное тестирова...,NaN,False,False,NaN,None,None,2025-05-19T10:22:27+0300,...,Люблинско-Дмитровская,10.39,10,55.718070,37.676259,NaN,NaN,NaN,NaN,NaN
37,120593693,False,Python разработчик / ML-инженер,NaN,False,False,NaN,None,None,2025-05-18T15:07:07+0300,...,Замоскворецкая,2.12,2,55.800441,37.530477,NaN,NaN,NaN,NaN,NaN
38,120710392,False,Fullstack-разработчик (Python),NaN,False,False,NaN,None,None,2025-05-19T14:13:37+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,120317383,False,Middle Python-разработчик,NaN,False,False,NaN,None,None,2025-05-17T07:22:46+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,120716136,False,Python-разработчик,NaN,False,False,NaN,None,None,2025-05-19T15:15:45+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,120553515,False,Начинающий Python разработчик (работа с биолог...,NaN,False,True,NaN,None,None,2025-05-14T17:38:14+0300,...,МЦД-2,132.720,132,55.813611,37.486944,NaN,NaN,NaN,NaN,NaN
42,120649697,False,Middle Python-разработчик CRM,NaN,False,False,NaN,None,None,2025-05-16T18:05:01+0300,...,Большая кольцевая линия,97.601,97,55.776430,37.519810,NaN,NaN,NaN,NaN,NaN
43,120720787,False,Python Developer (MLOps),NaN,False,False,NaN,None,None,2025-05-19T16:12:50+0300,...,Филевская,4.73,4,55.740544,37.534100,NaN,MAKEUP,NaN,NaN,NaN
44,120534789,False,Middle Python разработчик (Fullstack) Екатерин...,NaN,False,False,NaN,None,None,2025-05-17T13:46:46+0300,...,Север-Юг,48.270,48,56.797487,60.633362,NaN,NaN,NaN,NaN,NaN
45,120720650,False,Middle+ Python backend developer,NaN,False,False,NaN,None,None,2025-05-19T16:11:29+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,120683125,False,Middle Python Developer,NaN,False,True,NaN,None,None,2025-05-19T09:38:30+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,MAKEUP,NaN,2234493-1189320-it,"Бристоль, сеть магазинов, Работа в IT-сфере"
47,120702816,False,Python Developer,NaN,True,False,NaN,None,None,2025-05-19T12:44:27+0300,...,Московская,62.403,62,53.938506,27.665865,NaN,MAKEUP,NaN,NaN,NaN
48,120231103,False,Python разработчик Middle/Senior,NaN,False,False,NaN,None,None,2025-05-17T13:59:53+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,120596858,False,Python-разработчик,NaN,True,False,NaN,None,None,2025-05-15T15:51:11+0300,...,Филевская,4.6,4,55.752255,37.608775,NaN,NaN,NaN,NaN,NaN