In [1]:
from config import DBNAME
import pandas as pd 
import numpy as np
from tqdm import tqdm
from matplotlib import pyplot as plt
import seaborn as sns
import sqlite3

In [ ]:
pd.set_option('display.max_columns', None)

In [2]:
TABLE_NAME = DBNAME

In [5]:
try:
    with sqlite3.connect(DBNAME) as conn:
        hh_df = pd.read_sql_query(f"SELECT * FROM full_sql", conn)
except Exception as e:
    print(f'Ошибка: Загрузка данных из БД {e}')

hh_df.sample(5)

,vac_id,vac_name,grade,city,geo,geo_city,published_at,archived,employer_id,emp_name,...,frequency,prof_role,schedule_name,insider_interview,response_letter_required,experience,key_skills,has_test,url,parsed_for_job
660,122131783,Лид системной аналитики (Риски),Middle,Москва,"[55.763341, 37.60487]","[55.625578, 37.6063916]",2025-07-12T09:47:42+0300,0,6140830,Полная занятость,...,,Системный аналитик,Удаленная работа,,0,От 3 до 6 лет,MS SQL; Системный анализ; Apache Kafka; kafka,0,https://hh.ru/vacancy/122131783,Системный аналитик
495,121891695,Middle+ / Senior Data-инженер,Middle,Сургут,"[61.254032, 73.3964]","[61.254032, 73.3964]",2025-06-20T14:53:32+0300,0,11511190,Полная занятость,...,,Дата-сайентист,Удаленная работа,,0,Более 6 лет,Big Data; pandas; Математическая статистика; S...,0,https://hh.ru/vacancy/121891695,Data инженер
19,107618626,Системный аналитик (Битрикс 24/Интегратор),Middle,Москва,"[55.668909, 37.583418]","[55.625578, 37.6063916]",2025-06-17T13:05:02+0300,0,1657508,Полная занятость,...,,Бизнес-аналитик,Полный день,,0,От 1 года до 3 лет,Битрикс24; css; html; js; php; обучение,0,https://hh.ru/vacancy/107618626,Системный аналитик
1126,122775648,Бизнес аналитик,Middle,Москва,"[55.782643, 37.72343]","[55.625578, 37.6063916]",2025-07-14T15:23:37+0300,0,5967039,Полная занятость,...,,Бизнес-аналитик,Полный день,,0,От 1 года до 3 лет,Бизнес-анализ; BPML; UML; ответственность,0,https://hh.ru/vacancy/122775648,Бизнес-аналитик
1039,122694544,Программист-аналитик (Power BI),Middle,Москва,"[55.490503, 37.574058]","[55.625578, 37.6063916]",2025-07-14T09:41:44+0300,0,87486,Полная занятость,...,,"BI-аналитик, аналитик данных",Полный день,,0,От 1 года до 3 лет,Power BI; Базы данных; Бизнес-анализ; SQL; MyS...,0,https://hh.ru/vacancy/122694544,BI аналитик