In [1]:
import sqlite3
import pandas as pd 
import numpy as np

In [2]:
DBNAME = '../resources/my.db'

# SQL commands

In [3]:
create_tables = [
'''CREATE TABLE IF NOT EXISTS vac (
        vac_id INTEGER PRIMARY KEY,
        vac_name TEXT,
        city TEXT,
        published_at TEXT,
        archived INTEGER,
        experience TEXT,
        url TEXT,
        employer_id INTEGER,
        schedule_name TEXT,
        employment_name TEXT,
        prof_role TEXT
    );''',

'''CREATE TABLE IF NOT EXISTS emp (
        vac_id INTEGER PRIMARY KEY,
        emp_id INTEGER,
        emp_name TEXT,
        addres TEXT,
        emp_url TEXT,
        is_accredited INTEGER,
        is_trusted INTEGER
    );
''',

'''CREATE TABLE IF NOT EXISTS sal (
        vac_id INTEGER PRIMARY KEY,
        salary_from INTEGER,
        salary_to INTEGER,
        currency TEXT,
        gross INTEGER,
        mode_name TEXT,
        frequency TEXT
    )
''']

union_tables = ['''
INSERT OR REPLACE INTO vac
                SELECT * FROM vac_df
''',

'''
INSERT OR REPLACE INTO emp
                SELECT * FROM emp_df
''',

'''
INSERT OR REPLACE INTO sal
                SELECT * FROM sal_df
''']

---

#

In [4]:
def to_database(sqL_command:str, database_name:str):
    try:
        conn = sqlite3.connect(database_name)
        with conn:
            cur = conn.cursor()
            cur.execute(sqL_command)
            res = cur.fetchall()
            conn.commit()
    except Exception as e:
        print(sqL_command,'\n', e)
    conn.close()

In [5]:
for command in create_tables:
    to_database(command, DBNAME)

In [6]:
# тестовая ячейка
vac_df = pd.read_csv('../resources/dataframes/vac_df.csv', index_col=[0])
emp_df = pd.read_csv('../resources/dataframes/emp_df.csv', index_col=[0])
sal_df = pd.read_csv('../resources/dataframes/sal_df.csv', index_col=[0])

In [7]:
# создаем таблицы из датафреймов
with sqlite3.connect(DBNAME) as conn:
    vac_df.to_sql('vac_df', con=conn, if_exists='replace', index= False)
    emp_df.to_sql('emp_df', con=conn, if_exists='replace', index = False)
    sal_df.to_sql('sal_df', con=conn, if_exists='replace', index = False)
conn.close()

In [8]:
for command in union_tables:
    to_database(command, DBNAME)